<div class="well">
    <form [formGroup]="intervalSelectForm">
        <div class="form-group right-gutter-40">
            <h5>Select how frequently weather data should be updated<br />(only applies to subsequent entries)</h5>
            <select formControlName="intervalSelect" class="form-control" (change)="intervalSelected()" id="intervalSelect">
                <option *ngFor="let interval of intervals" [ngValue]="interval">
                    {{ interval.name }}
                </option>
            </select>
        </div>
        <div class="form-group right-gutter-40">
            <h5>Tabs or Cards</h5>
            <div class="right-gutter-20">
                <label>
                    <input type="radio" value="tabs" (click)="displaySelected($event)" formControlName="displaySelect" class="margin-right-10">
                    <span>Tabs</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="cards" (click)="displaySelected($event)" formControlName="displaySelect" class="margin-right-10">
                    <span>Cards</span>
                </label>
            </div>
        </div>
        <div class="form-group right-gutter-40">
            <h5>Select tab template</h5>
            <div class="right-gutter-20">
                <label>
                    <input type="radio" value="default" (click)="tabTemplateSelected($event)" formControlName="tabTemplateSelect" class="margin-right-10">
                    <span>Default</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="button" (click)="tabTemplateSelected($event)" formControlName="tabTemplateSelect" class="margin-right-10">
                    <span>Blue button</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="fun" (click)="tabTemplateSelected($event)" formControlName="tabTemplateSelect" class="margin-right-10">
                    <span>Fun</span>
                </label>
            </div>
        </div>
    </form>
</div>
