<div class="well">
    <form [formGroup]="intervalSelectForm">
        <div class="form-group right-gutter-40">
            <h5 class="margin-top-0">Select how frequently weather data should be updated</h5>
            <select formControlName="intervalSelect" class="form-control" (change)="intervalSelected()" id="intervalSelect">
                <option *ngFor="let interval of intervals" [ngValue]="interval">
                    {{ interval.name }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <h5>Tabs or Cards</h5>
            <div class="right-gutter-20">
                <label>
                    <input type="radio" value="tabs" (click)="displaySelected($event)" formControlName="displaySelect" class="margin-right-10">
                    <span>Tabs</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="cards" (click)="displaySelected($event)" formControlName="displaySelect" class="margin-right-10">
                    <span>Cards</span>
                </label>
            </div>

        </div>
    </form>
</div>
