.margin-right-10 {
    margin-right: 10px;
}

.right-gutter-40 {
    float: left;
    margin-right: 40px;
}

.right-gutter-20 {
    float: left;
    margin-right: 20px;
}

form {
    display: flex;
}
