<div>
  <div *ngFor="let location of currentConditionsByZip()" (click)="showForecast(location.zip)">
      <app-tab>
          <div class="tab-header">
              <h3>{{location.data.name}} ({{location.zip}})</h3>
              <div class="tab-close">
                  <span class="close" (click)="locationService.removeLocation(location.zip)">&times;</span>
                  <img [src]="weatherService.getWeatherIcon(location.data.weather[0].id)">
              </div>
          </div>
          <div class="tab-content">
              <h4>Current conditions: {{location.data.weather[0].main}}</h4>
              <h4>Temperatures today:</h4>
              <p>
                  Current {{location.data.main.temp | number:'.0-0'}}
                  - Max {{location.data.main.temp_max | number:'.0-0'}}
                  - Min {{location.data.main.temp_min | number:'.0-0'}}
              </p>
              <p>
                  <a [routerLink]="['/forecast', location.zip]" >Show 5-day forecast for {{location.data.name}}</a>
              </p>
          </div>
      </app-tab>
 </div>
</div>
