<div *ngFor="let item of items">
    <app-tab [item]="item">
        <div class="tab" default (click)="activateTab(item)">
            {{item.data.name}} ({{item.zip}})
            <span class="close" (click)="removeTab(item)">&times;</span>
        </div>
        <div class="tab" active>
            {{item.data.name}} ({{item.zip}})
            <span class="close" (click)="removeTab(item)">&times;</span>
        </div>
    </app-tab>
</div>
<div style="clear: left;">
    <ng-container *ngFor="let item of items" >
        <app-tab-panel [item]="item"></app-tab-panel>
    </ng-container>
</div>


