.tab {
    padding: 4px 30px;
    border-bottom: 2px solid transparent;
    width: 20%;
    float: left;
    font-size: 16px;

    transition-property: background-color, border-left-color;
    transition-duration: 600ms;
    transition-delay: 30ms;

    display: inline-block;
    padding: 10px;
    background-color: #eee;
    border-left: 10px solid #ccc;
    margin-right: 1px;

    &:hover{
        background-color: #fdedd4;
        border-left: 10px solid #e1e1b6;
        cursor: pointer;
    }
}

.tab.active {
    background-color: #cccccc;
}

.tab .close {
    margin-left: 5px;
    font-size: 35px;
    line-height: .6;
    position: relative;
    top: 2px;
}

.tab.fun {
    border-top-left-radius: 35px;
    border-top-right-radius: 7px;
}

.tab.fun:hover {
    color: red;
}

.tab.active.fun {
    background-color: #e8c882;
}

.tab.active.fun:hover {
    color: red;
    font-style: italic;
}

.tab.button {
    border: none;
    color: white;
    background-color: #337ab7;
}

.tab.button:hover {
    background-color: #617aa0;
}

.tabsPanel {
    clear: left;
    display: none;
}

.tabsPanel.active {
    display: block;
}
