<div class="container-fluid">
  <app-add-zipcode> </app-add-zipcode>
    <div *ngIf="getDisplayType() == 'cards'; else tabsDisplay">
        <app-current-conditions [items]="currentConditionsByZipObs | async"></app-current-conditions>
    </div>
    <ng-template #tabsDisplay>
        <ng-container *ngComponentOutlet="Tabs; inputs: { items: getCurrentConditionsByZip()() };" />
<!--        <ng-container *ngComponentOutlet="Hello; inputs: { message: 'Testing this dynamic component injection' };" />-->
    </ng-template>
</div>
